.bottom {
    color: #fff;
    background-color: #005bc5 !important;
    font-size: 1vw;
    height: 7%;
    img {
        width: 4vw !important;
        margin-left: 10px;
    }
    span {
        margin-left: 5px;
    }
}
